/*HEADER empieza titulo de la pagina*/
#encabezado h1{
	text-align: center;
	font-size: 50px;
	font-family: 'Acme', sans-serif;
}
/*termina titulo de la pagina*/
/*empieza menu*/
#menu{ 
	background-color: black;
	padding: 10px;
}
#menupri{
	padding: 0px;
}
#menupri li{
	display: inline;
		padding: 135px;
}
#menupri li a{
	font-family: 'Ubuntu', sans-serif;
	color: white;
	text-decoration: none; /*para que no tenga viñetas*/

}
#menupri li a:hover{
	color:#A4ABA2;
	transition: 0.7s;

}
/*HEADER termina menu*/
#lugar{
	width: 100%
}
#surco,#barranco, #miraflores{
	position: relative;
	text-align: center;

}
#barranco{
	width: 33.1%;
	float: left;
}
#surco{
	width: 33.1%;
	float: right;
}
#miraflores{
	width: 33.1%;
	float: right;
}
#info{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	color: white;
}
#barranco:hover{
	transition: 1.5s; 
}